@import '../../styles/variables.css';

/* "bg-white my-8 mx-12 flex-col font-kanit font-semibold max-w-48 border 
p-5 rounded-xl shadow-2xl hover:scale-105 hover:-rotate-1 transition-transform" */
.cardProduct{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 20rem;
    max-width: 12rem;
    border-radius: 1rem;
    background-color: var(--whiteCustom);
    margin: 1rem 0rem 1rem 0rem;
    font-family: var(--fontPrimary);
    box-shadow: var(--boxShadow);
    padding: 1rem;
    transition: transform 0.5s ease;
}

.cardProduct:hover{
    will-change: transform;
    transform: rotate(-2deg) scale(1.02);
}

/* 'whitespace-nowrap text-ellipsis overflow-hidden' */
.nameProduct{
    font-size: medium;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.priceText{
    font-size: medium;
    color: green;
}

/* 'text-gray-600 text-right' */
.numberOfReviews{
    text-align: right;
    color: gray;
}