@import '../../styles/variables.css';

.containerMain{
    display: flex;
}

.anchorContainer{
    padding-bottom: 1rem;
    height: auto;
}

.smallText {
    display: flex;
    font-family: var(--fontPrimary);
    font-weight: 400;
    color: var(--brandColor);
    text-align: center;
}

.smallText a{
    text-decoration: none;
    color: var(--brandColor);
    margin-left: 2px;
    margin-right: 2px;
}

.containerCarousel , .containerDetails{ 
    background-color: rgb(230, 230, 230);
    border-radius: 2rem;
    max-height: 70vh;
    box-shadow: var(--boxShadow);
}

.containerCarousel{
    width: 60%;
    height: 90vh;
    margin: 1% 0% 5% 5%;
    padding: 2rem;
}

.containerCarousel img {
    display: flex;
    justify-self: center;
    max-width: 60%;
    height: auto;
}

.containerDetails{
    display: flex;
    flex-direction: column;
    width:  45%;
    margin: 1% 5% 0% 1%;
    padding: 1rem;
}

.containerDetails .nameProduct{
    font-family: var(--fontPrimary);
    font-weight: 400;
    color: rgb(10, 10, 10);
    margin: 0% 0% 40%;
}

.simpleText{
    font-weight: 500;
    font-family: var(--fontAlternative);
}

.btnBuy{

}

.btnAddToCart{

}

