@import '../variables.css';

/* 'w-full h-full flex justify-center space-x-10 z-0' */
.containerIndicators{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    z-index: 0;
    gap: 0.5em;
    top: 70%;
}

.indicator{
    width: 1em;
    height: 1em;
    outline: none;
    border: solid rgba(30, 25, 25, 0);
    border-radius: 100%;
    border-width: 2px;
    cursor: pointer;
    background-color: #f59f0bcb;
}

.indicator:hover{
    background-color: #f59e0b;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

.indicatorInactive{
    background-color: rgba(218, 216, 216, 0.658);
}