@import '../../styles/variables.css';

.dropDownItem{
    font-family: var(--fontSecondary);
    font-weight: bold;
    font-size: 17px;
    width: auto;
}

.dropDownItem:hover{
    color: var(--brandColor);
}

.dropDownContent {
    background-color: var(--lightPrimary);
    position: absolute;
    z-index: 1;
    list-style: none;
    padding: 10px;
    margin-top: 25px;
    width: 100%;
    text-align: left;
}

/* "text-white font-roboto font-bold hover:text-amber-500 py-3 px-5" */
.categoryName{
    color: var(--whiteCustom);
    font-family: var(--fontPrimary);
}

.categoryName:hover{
    color: var(--brandColor);
}

