@import '../../styles/variables.css';

/* "bg-slate-800 flex justify-evenly text-slate-100 shadow-xl z-10 sticky top-21 items-center" */

* {
    box-sizing: border-box;
}

.navContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--lightPrimary);
    color: var(--whiteCustom);
    position: sticky;
    z-index: 5;
    top: 5rem;
    height: 5rem;
    box-shadow: var(--boxShadow);
    width: 100%;
}

/* "dropBtn flex font-roboto font-bold hover:text-amber-500 hover:opacity-85" */
.navbarItem{
    display: flex;
    font-family: var(--fontSecondary);
    font-weight: bold;
    text-decoration: none;
    color: var(--whiteCustom);
}

.navbarItem:hover{
    color: var(--brandColor);
}

.dropBtn {
    display: flex;
    border: none;
    font-size: 17px;
    color: var(--whiteCustom);
}


.arrowDefault {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    width: 1rem;
    margin: 0px 2px;
}

/* Clase para animación */
.arrowAnimation {
    transform: rotate(-90deg); 
}

.btnDown {
    position: relative; /* Asegura que el menú desplegable se posicione correctamente */
    display: inline-block;
}

.dropDown:hover {
    display: block;
}

.dropDown:hover .dropBtn {
    background: var(--primaryColor);
}
