@import '../../styles/variables.css';

.loginContainer{
    display: flex;
    border-radius: 60px;
    background-color: rgba(45, 66, 96, 0.363);
    backdrop-filter: blur(20px);
    padding: 60px;
    box-shadow: var(--boxShadow);
}

.subtitle{
    font-family: var(--fontSecondary);
    color: var(--whiteCustom);
}

.welcomeMessage{
    align-items: center;
    text-align: center;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.rightContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    border-left: solid thin;
    border-color: rgba(255, 255, 255, 0.3);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.labelText{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 25%;
    padding: 1%;
    font-family: var(--fontSecondary);
    font-size: 1rem;
    color: var(--brandColor);
    pointer-events: none;
    transition: .3s all ;
}

.inputGroup{
    position: relative;
    width: 40vw;
}

.inputGroup input:focus~label ,
.inputGroup input:valid~label{
    background: linear-gradient(to bottom, var(--lightPrimary) 50%, transparent 50%);
    width: 20%;
    top: 20%;
    border-radius: 5px 5px 0 0; /* Solo esquinas superiores */
    padding-left: 10px;
    padding-right: 10px;
}

.inputGroup input:not(:placeholder-shown) ~ label {
    background-color: var(--lightPrimary);
    top: 20%;
}

.inputForm::placeholder{
    color: transparent;
}

.inputForm:focus::placeholder{
    color: rgba(240, 240, 255, 0.5);
}

.inputForm{
    margin: 0.8rem;
    height: 2.5rem;
    width: 60%;
    height: 60%;
    padding: 15px;
    color: var(--whiteCustom);
    background-color: transparent;
    border: solid 2px;
    border-radius: 20px;
    border-color: rgb(154, 154, 154);
    font-family: var(--fontPrimary);
    font-weight: 200;
    transition: transform 0.3s ease-in;
}

.inputForm:focus{
    outline: none;
    border: 0px;
    transform: scale(1.05);
    background-color: var(--lightPrimary);
    box-shadow: var(--boxShadow);
}

.btnSumbit{
    height: 2.5rem;
    width: 60%;
    margin-top: 20px;
    border: none;
    color: var(--whiteCustom);
    background-image: linear-gradient(315deg, var(--primaryShadow) 34%, var(--primaryColor) 66%);
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.btnSumbit:hover{
    font-weight: bolder;
    color: var(--brandColor);
    transform: scale(1.05);
    box-shadow: 20px 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.smallText{
    text-decoration: underline;
    font-family: var(--fontPrimary);
    color: var(--whiteCustom);
}
