/*`cursor-pointer transition-transform ease-in-out 
hover:scale-105 delay-200 flex ${ tailwindProp } 
absolute justify-center self-center bg-slate-50 
rounded-full h-14 w-12 shadow-2xl*/

:root {
    --bgColor: #eeebeb;
}

.btnArrow{
    display: flex;
    cursor: pointer;
    position: absolute;
    background-color: var(--bgColor);
    border-radius: 20px;
    justify-content: center;
    align-self: center;
    height: 9%;
    width: 3%;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    transition: transform 0.2s ease-in-out;
}

.btnArrow:hover{
    transform: scale(1.1);
}

.btnForward{
    right: -1%;
}

.btnBack{
    left: -1%;
}

.svg{
    margin: auto;
}