.indicator{
    width: 1%;
    height: 3%;
    outline: none;
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    cursor: pointer;
    background-color: #f59e0b;
    bottom: 10px;
    display: flex;
    position: absolute;
    z-index: 0;
}

.indicator:hover{
    background-color: #f59e0b;
    scale: 1.2;
}

.indicator-inactive{
    background-color: rgb(218, 216, 216);
}


