.indicator{
    width: 1%;
    height: 3%;
    outline: none;
    border: solid;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    bottom: 10px;
    display: flex;
    position: absolute;
    z-index: 0;
}

.indicator-inactive{
    background-color: #e0e0e0;
    
}


