.indicator{
    width: 30%;
    height: 30%;
    outline: none;
    border: solid;
    border-radius: 200px;
    cursor: pointer;
    background-color: white;
}

.indicator-inactive{
    background-color: #e0e0e0;
    
}


