:root{
    --primaryColor: #111827;
    --lightPrimary: #1e293b;
    --brandColor: #f59e0b;
    --fontPrimary: "Kanit", 'sans-serif';
    --fontSecondary: "Fira Sans", serif;
    --whiteCustom: #f8fafc;
    --primaryShadow: #1c2740;
    --boxShadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}