@import '../../styles/variables.css';

/* relative drop-shadow-2xl */
.carouselContainer{
    position: relative;
    height: 100vh;
    margin-bottom: -8rem;
}

/* flex items-center justify-center */
.sponsorImage{
    display: flex;
    align-items: center;
    overflow: hidden;
    object-fit: contain;
    max-height: 75%;
    margin-top: -30px;
    box-shadow: var(--boxShadow);
}

/* absolute left-10 cursor-pointer flex */


.slideHidden{
    right: 50%;
}



